body{
    background-color: rgba(0, 0, 0, 0.665); 
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    background-color:  rgb(52, 51, 51);;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.54);
    border: 3px solid rgb(110, 108, 108);
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
#contenedorTodasCartas{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 500px;

}
.carta{
    width: 175px;
    height: 250px;
    /* background-color: rgba(0, 0, 0, 0.67); */
    /* background-color: rgb(110, 108, 108); */
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* padding: 5px; */

    position: relative;
    cursor: pointer;
    
}
.carta div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s;
}
.frente{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: rgb(110, 108, 108);
    
    transform: perspective(500px) rotateY(180deg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.54);
}
.espalda{
    padding: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform: perspective(500px) rotateY(0deg);

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.54);
}
/* .carta:hover .frente{
    transform: perspective(500px) rotateY(360deg);
    
}
.carta:hover .espalda{
    transform: perspective(500px) rotateY(180deg);
} */
.girarFrente{
    transform: perspective(500px) rotateY(360deg);
    
}
.girarEspalda{
    transform: perspective(500px) rotateY(180deg);
}
.espalda img{
    border-radius: 6px;
    width: 100%;
    height: 100%;
}
.pEmoticono{
    width: 100%;
    height: 100%;
    font-size: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(43, 42, 42); */
    /* background-color: rgb(36, 36, 36); */
    background-color: rgb(52, 51, 51);
    border-radius: 5px;
}